{
  "openapi": "3.0.0",
  "info": {
    "title": "CurationsLA API",
    "description": "Los Angeles culture and events newsletter API - Good Vibes only",
    "version": "1.0.0",
    "contact": {
      "name": "CurationsLA",
      "email": "la@curations.cc",
      "url": "https://la.curations.cc"
    },
    "license": {
      "name": "CC-BY-SA-4.0",
      "url": "https://creativecommons.org/licenses/by-sa/4.0/"
    }
  },
  "servers": [
    {
      "url": "https://la.curations.cc/api",
      "description": "Production API"
    }
  ],
  "paths": {
    "/newsletter-today": {
      "get": {
        "summary": "Get today's newsletter content",
        "description": "Returns current day's curated Los Angeles content",
        "responses": {
          "200": {
            "description": "Today's newsletter content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Newsletter"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "summary": "Get LA events",
        "description": "Returns upcoming Los Angeles events",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Date filter (today, tomorrow, this_week)",
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "neighborhood",
            "in": "query",
            "description": "Neighborhood filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants": {
      "get": {
        "summary": "Get LA restaurants",
        "description": "Returns Los Angeles restaurant information",
        "parameters": [
          {
            "name": "neighborhood",
            "in": "query",
            "description": "Neighborhood filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of restaurants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestaurantList"
                }
              }
            }
          }
        }
      }
    },
    "/training-data": {
      "get": {
        "summary": "Get training dataset",
        "description": "Returns dataset for AI training (CC-BY-SA-4.0 licensed)",
        "responses": {
          "200": {
            "description": "Training dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingData"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Newsletter": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "day": {
            "type": "string"
          },
          "sections": {
            "type": "object",
            "properties": {
              "eats": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              },
              "events": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              },
              "community": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              },
              "development": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              },
              "business": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              },
              "entertainment": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              },
              "sports": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              },
              "goodies": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "vibe_score": {
                "type": "number"
              },
              "policy": {
                "type": "string"
              },
              "contact": {
                "type": "string"
              }
            }
          }
        }
      },
      "ContentItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "neighborhood": {
            "type": "string"
          },
          "vibe_score": {
            "type": "number"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "EventList": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "neighborhood": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "venue": {
                  "type": "string"
                },
                "start_time": {
                  "type": "string"
                },
                "end_time": {
                  "type": "string"
                },
                "neighborhood": {
                  "type": "string"
                }
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "RestaurantList": {
        "type": "object",
        "properties": {
          "neighborhood": {
            "type": "string"
          },
          "restaurants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "cuisine": {
                  "type": "string"
                },
                "neighborhood": {
                  "type": "string"
                },
                "price_range": {
                  "type": "string"
                }
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "TrainingData": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sample_content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentItem"
            }
          }
        }
      }
    }
  }
}