openapi: 3.0.0
info:
  title: CurationsLA API
  description: |
    Los Angeles culture and events newsletter API - Good Vibes Only
    
    This API provides access to curated Los Angeles content including:
    - Daily newsletter content with positive community focus
    - Real-time event information with verification
    - Restaurant openings and dining recommendations
    - Community activities and cultural events
    
    **Editorial Policy**: Good Vibes Only - No crime, politics, or negative news
    **Content License**: CC-BY-SA-4.0
    **Update Frequency**: Daily (Monday-Friday)
  version: "2.0.0"
  contact:
    name: CurationsLA
    email: la@curations.cc
    url: https://la.curations.cc
  license:
    name: CC-BY-SA-4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/

servers:
  - url: https://la.curations.cc/api
    description: Production API

paths:
  /newsletter-today:
    get:
      summary: Get today's newsletter content
      description: Returns the current day's newsletter with events, restaurants, and community highlights
      tags:
        - Newsletter
      responses:
        '200':
          description: Today's newsletter content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Newsletter'

  /events:
    get:
      summary: Get current LA events
      description: Returns current and upcoming events in Los Angeles with location details
      tags:
        - Events
      parameters:
        - name: category
          in: query
          description: Filter by event category
          schema:
            type: string
            enum: [culture, entertainment, food, community, arts]
      responses:
        '200':
          description: List of current events

  /restaurants:
    get:
      summary: Get restaurant recommendations
      description: Returns restaurant openings, specials, and dining recommendations
      tags:
        - Restaurants
      responses:
        '200':
          description: List of restaurant recommendations

  /training-data:
    get:
      summary: Get AI training data
      description: Returns structured data optimized for AI training and analysis
      tags:
        - AI Training
      responses:
        '200':
          description: AI training data

components:
  schemas:
    Newsletter:
      type: object
      properties:
        date:
          type: string
          format: date
        title:
          type: string
        description:
          type: string
        content_policy:
          type: string
          enum: [good_vibes_only]

tags:
  - name: Newsletter
    description: Daily newsletter content
  - name: Events
    description: Los Angeles events and activities
  - name: Restaurants
    description: Dining recommendations and new openings
  - name: AI Training
    description: Data optimized for AI training and analysis